/target
/.nrepl-port
/resources/public/js
/resources/default-db-format.*
.lein-deps-sum
.lein-repl-history
.nrepl-history
*.jar
.idea
figwheel_server.log
*.iml
pom.xml
/out
/.lein-plugins
.lein-failures
/src/main/default-db-format/general/replace.clj
temp
